body {
    display: grid;
    grid-template-rows: [first-body-row] 7.8125rem [second-body-row] 7.8125rem [third-body-row] 0.5fr [fourth-body-row] 0.5fr [fifth-body-row] 6.25rem [sixth-body-row] 2.5rem [end];
    background-color: black;
    justify-items: center;
    font-family: 'Galindo', cursive;
    font-size: 40px;
    color: white;
}

#bodyAfter {
    grid-template-rows: [first-body-row] 7.8125rem [second-body-row] 7.8125rem [third-body-row] 0fr [fourth-body-row] 1fr [fifth-body-row] 6.25rem [sixth-body-row] 2.5rem [end];
}

h1 {
    grid-row: first-body-row / second-body-row;
    text-align: center;
}

img, #selection, p, button {
    align-self: center;
    justify-self: center;
}

img {
    max-width: 70%;
}

div {
    display: grid;
}

p {
    grid-row: second-body-row / third-body-row;
    color: orange;
}

footer {
    grid-row: sixth-body-row / end;
    margin-top: 6.25rem;
}

button {
    grid-row: fifth-body-row / sixth-body-row;
    background-color: black;
    border: 0.3125rem solid white;
    color: white;
    font-family: 'Galindo', cursive;
    font-size: 24px;
    padding: 5px;
}

#board-hide, #button-hide {
    display: none;
}

#selection {
    display: grid;
    grid-template-columns: [first-selection-column] 1fr [second-selection-column] 1fr [end];
    grid-row: third-body-row / fourth-body-row;
}

#selection img {
    border: 0.3125rem solid white;
    padding: 0.3125rem;
}

#selection img:hover, button:hover {
    background-color: orange;
    cursor: pointer;
}

#cross {
    grid-row: first-selection-column / second-selection-column;
}

#nought {
    grid-row: second-selection-column / end;
}

#game-board {
    grid-row: fourth-body-row / fifth-body-row;
    grid-template-columns: [first-column] 200px [second-column] 200px [third-column] 200px [end];
    grid-template-rows: [first-row] 200px [second-row] 200px [third-row] 200px [end];
}

#a-box {
    display: grid;
    grid-column: first-column / second-column;
    grid-row: first-row / second-row;
}

#b-box{
    border-right: 0.3125rem solid white;
    border-left: 0.3125rem solid white;
    grid-column: second-column / third-column;
    grid-row: first-row / second-row;
}

#c-box{
    grid-column: third-column / end;
    grid-row: first-row / second-row;
}

#d-box{
    border-top: 0.3125rem solid white;
    border-bottom: 0.3125rem solid white;
    grid-column: first-column / second-column;
    grid-row: second-row / third-row;
}

#e-box{
    border: 0.3125rem white solid;
    grid-column: second-column / third-column;
    grid-row: second-row / third-row;
}

#f-box{
    border-top: 0.3125rem solid white;
    border-bottom: 0.3125rem solid white;
    grid-column: third-column / end;
    grid-row: second-row / third-row;
}

#g-box{
    grid-column: first-column / second-column;
    grid-row: third-row / end;  
}

#h-box{
    border-right: 0.3125rem solid white;
    border-left: 0.3125rem solid white;
    grid-column: second-column / third-column;
    grid-row: third-row / end;  
}

#i-box{
    grid-column: third-column / end;
    grid-row: third-row / end;  
}

@media only screen and (max-width: 800px){
    body{
        font-size: 1.25rem;
        grid-template-rows: [first-body-row] 3.75rem [second-body-row] 3.75rem [third-body-row] 1fr [fourth-body-row] 0.5fr [fifth-body-row] 3.75rem [sixth-body-row] 1.875rem [end];

    }

    #bodyAfter {
        grid-template-rows: [first-body-row] 3.75rem [second-body-row] 3.75rem [third-body-row] 0fr [fourth-body-row] 0.5fr [fifth-body-row] 3.75rem [sixth-body-row] 1.875rem [end];
    }
    

    img {
        max-width: 50%;
    }

    button {
        font-size: 1.25rem;
    }
}



